html, body{
    height: 100%;
}

*{
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.sidebar{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}


.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}